html, body {
    font-family: "JetBrains Mono";
    background-color: #1C1C30;
}

@media all and (orientation:landscape) {
    #card {
        flex-direction: row;
        column-gap: 2vw;
        max-height: 90vh;
        height: 42vw;
        font-size: 3vw;
        border-radius: 3vw;
    }

    #string, #hex {
        height: 42vw;
    }

    #string {
        width: 22vw;
        max-width: 22vw;
        border-radius: 0px 3vw 3vw 0px;
    }

    #hex {
        width: 66vw;
        max-width: 66vw;
    }
}

@media all and (orientation:portrait) {
    #card {
        height: 40vh;
        font-size: 5vh;
        border-radius: 3vh;
    }

    #string {
        height: 40vh;
        width: 90vw;
        border-radius: 3vh;
    }

    #hex {
        display: none;
    }
}

#card {
    position: absolute;
    top: 0px;
    left: calc(5vw - 10px);
    margin-right: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    column-gap: 2vw;
    color: #47485C;
    min-width: 10em;
    min-height: 6em;
    width: 90vw;
    display: flex;
    overflow-wrap: break-word;
    line-height: 1em;
}

#string, #hex {
    margin-top: 0px;
    margin-bottom: 0px;
}

#string {
    overflow-y: hidden;
    flex: 2;
}

#hex {
    overflow: hidden;
    border-radius: 3vw 0px 0px 3vw;
    flex: 1;
}

.redlight, .bluelight {
    text-decoration: none;
    margin: 0;
}

.redlight {
    color: #FF5C79;
}

.bluelight {
    color: cyan;
}

#string:has(.redlight:hover, .bluelight:hover) > a {
    font-weight: 700;
}

#hex:has(.redlight:hover, .bluelight:hover) > a {
    font-weight: 700;
}

.screenreader {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1 !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}
