html, body {
    background-color: var(--background-color);
}

@media all and (orientation:landscape) {
    #content {
        right: 12.5vw;
        width: 75vw;
    }

    #md-body {
        position: relative;
        left: 10vw;
        width: 50vw;
    }

    .thumbnail-container {
        height: 25rem;
    }
}

@media all and (orientation:portrait) {
    #content {
        width: 95vw;
        left: 2.5%;
    }

    .thumbnail-container {
        height: 12.5rem;
    }
}

header {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

#content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-color);
    position: absolute;
    top: 4.5rem;
}

#description {
    font-size: var(--h5);
}

.thumbnail-container {
    width: 100%;
    border-radius: 1em;
    overflow: hidden;
    margin: 2rem 0;
}

.thumbnail {
    width: 100%;
    height: auto;
}

#md-body {
    text-align: left;
    padding: 0 2em 1em;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-bottom: 5rem;
}

#md-body table {
    border-collapse: collapse;
}

#md-body th {
    background-color: var(--lift-color);
}

#md-body td, #md-body th {
    border-left: 1px solid #9999AA;
    border-right: 1px solid #9999AA;
    padding: 0.25rem;
}

#md-body tr {
    border-top: 1px solid #9999AA;
    border-bottom: 1px solid #9999AA;
}

#shrink {
    background-color: var(--secondary-color);
}

p a {
    color: skyblue;
}

a:has(.prev, .next) {
    text-decoration: none;
}

.prev {
    float: left;
    padding: 0.2rem 2rem 0.2rem 1rem;
}

.next {
    float: right;
    padding: 0.2rem 2rem 0.2rem 1rem;
}

.prev, .next {
    margin-top: 3rem;
    display: inline-block;
    background-color: var(--lift-color);
    border-radius: 1em;
    border-style: solid;
    border-width: 1px;
    border-color: var(--accent-color);
}

.sub-label {
    color: var(--text-color);
    font-size: 0.8em;
}

.label {
    color: var(--accent-color);
    font-size: 1em;
}

.prev .label::before {
    content: "« ";
}

.next .label::after {
    content: " »";
}
