@media screen and (orientation:portrait) {
    :root {
        --font-scale: calc(6/5);
    }
}

@media screen and (orientation:landscape) {
    :root {
        --font-scale: calc(4/3);
    }
}

:root {
    color: var(--text-color);

    /* Color palette */
    --text-color: #F3ECEE;
    --background-color: #111016;
    --primary-color: #5BCEFA;
    --secondary-color: #1f1f27;
    --accent-color: #F5A9B8;
    --line-color: #282E30;
    --wiper-color: #050708;

    /* Font sizes */
    --p: 1.2rem;
    --h5: calc(var(--p) * var(--font-scale));
    --h4: calc(var(--h5) * var(--font-scale));
    --h3: calc(var(--h4) * var(--font-scale));
    --h2: calc(var(--h3) * var(--font-scale));
    --h1: calc(var(--h2) * var(--font-scale));
    --small: calc(var(--p) / var(--font-scale));
}

h1, h2, h3, h4, h5 {
    line-height: 1.5;
    margin: 0;
}

h1 {
    font-size: var(--h1);
    font-weight: 700;
    letter-spacing: 0;
}

h2 {
    font-size: var(--h2);
    font-weight: 700;
    letter-spacing: 0;
}

h3 {
    font-size: var(--h3);
    font-weight: 700;
}

h4 {
    font-size: var(--h4);
    font-weight: 400;
}

h5 {
    font-size: var(--h5);
    font-weight: 400;
}

p {
    font-size: var(--p);
}

p, small, a, li, table {
    line-height: 2.25;
    margin: 0;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
    background-color: #333355;
    transition: background-color 0.3s;
    border-radius: 7.5px;
}

@media not (prefers-reduced-motion) {
    #wiper {
        background-color: var(--wiper-color);
        position: fixed;
        top: 0;
        height: 100%;
        z-index: 999999;
        pointer-events: none;
        animation-timing-function: ease-in-out;
    }

    @keyframes fade-out {
        from { width: 100vw; }
        to { width: 0; }
    }

    @keyframes fade-in {
        from { width: 0; }
        to { width: 100vw; }
    }

    #wiper.init-in {
        right: 0;
        width: 100%;
    }

    #wiper.fade-out {
        animation-duration: 200ms;
        right: 0;
        width: 0;
        animation-name: fade-out;
    }

    #wiper.fade-in {
        animation-duration: 150ms;
        left: 0;
        width: 100%;
        animation-name: fade-in;
    }
}

.heading {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.highlight {
    font-family: "JetBrains Mono", Courier, monospace;
    line-height: 2;
    z-index: 5;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: fit-content;
}

.highlight::before {
    content: "";
    height: 33%;
    width: 100%;
    display: block;
    z-index: -5;
    opacity: 40%;
    position: absolute;
    bottom: 0.5em;
    transition: all 200ms ease;
    background: linear-gradient(180deg, transparent 50%, var(--accent-color) 50%);
}

.highlight:hover::before {
    height: 50%;
}

mjx-math {
    transition: text-shadow 300ms;
}

mjx-math:hover {
    text-shadow: 0px 0px 20px rgba(255,255,255,0.30);
}
