#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    background-color: var(--background-color);
    color: var(--text-color);
    z-index: 1000;
    border-bottom-color: var(--line-color);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#navbar {
    height: 2.5rem;
    padding: 0.5em;
}

#navbar img {
    height: 2.5rem;
    width: auto;
}

#navbar .nav-left {
    position: fixed;
    left: 0.5rem;
    justify-content: left;
}

#navbar .nav-right {
    position: fixed;
    right: 0;
    justify-content: right;
}

#navbar a {
    padding-left: 2rem;
    padding-right: 2rem;
    color: var(--text-color);
    font-size: 1.25em;
    text-decoration: none;
}
