<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <title>{% block title %}{% endblock title %} - PseudoServices</title>
        <meta name="description" content={% block description %}{% endblock description %}>

        <link href='https://fonts.googleapis.com/css?family=Jost:display=swap' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=JetBrains Mono:display=swap' rel='stylesheet'>
        <link rel="stylesheet" href="/css/nav.css">
        <link rel="stylesheet" href="/css/icons.css">
        <link rel="stylesheet" href="/css/global.css">

        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

        <script src="/js/global.js"></script>
    {% endblock head %}
</head>
<body>
    {% block wiper %}
        <svg id="wiper" class="init-in"></svg>
    {% endblock wiper %}

    {% block navbar %}
        <nav id="navbar">
            <div class="nav-left">
                <a href="/">Home</a>
            </div>
            <div class="nav-right">
                <a href="https://github.com/commonkestrel/"><img class="icon-github icon-grow icon-off-white" alt="github"></a>
            </div>
        </nav>
    {% endblock navbar %}
    {% block body %}{% endblock body %}
</body>
</html>