<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://pseudoservices.com/">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>{{ title }}</title>
    <meta name="description" content="Homepage for commonkestrel's portfolio site">

    <link rel="stylesheet" href="/css/blog.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/icons.css">
    <link rel="stylesheet" href="/css/global.css">
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>

    <link rel="stylesheet" href="/host/ros-pine-moon.css">
    <script src="/host/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="/js/global.js"></script>
</head>
<body>
    <svg id="fader" class="init-in"></svg>

    <nav id="navbar">
        <div class="nav-left">

        </div>
        <div class="nav-right">
            <a href="https://github.com/commonkestrel/"><img class="icon-github icon-grow icon-off-white"></a>
        </div>
    </nav>

    <div id="content">
        <header>
            <h1>{{ title }}</h1>
            <p id="description">{{ description }}</p>
            <div class="thumbnail-container">
                <img src={{ thumbnail }} class="thumbnail">
            </div>
        </header>
        <main>
            <article id="md-body">
                {{ body }}
            </article>
        </main>
    </div>
</body>
</html>