<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://pseudoservices.com/">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>{{ title }}</title>
    <meta name="description" content="Homepage for commonkestrel's portfolio site">

    <link rel="stylesheet" href="/css/blog.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/icons.css">
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
</head>
<body>
    <nav id="navbar">
        <div class="nav-left">

        </div>
        <div class="nav-right">
            <a href="https://github.com/commonkestrel/"><img class="icon-github icon-grow icon-off-white"></a>
        </div>
    </nav>

    <div id="shrink">
        <header>
            <img src={{ thumbnail }} class="thumbnail">
        </header>
        <main>
            <article class="md-body">
                {{ body }}
            </article>
        </main>
    </div>
</body>
</html>