<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://pseudoservices.com/">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>PseudoServices</title>
    <meta name="description" content="Homepage for commonkestrel's portfolio site">

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/icons.css">
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
</head>
<body>
    <nav id="navbar">
        <div class="nav-left">

        </div>
        <div class="nav-right">
            <a href="https://github.com/commonkestrel/"><img class="icon-github icon-grow icon-off-white"></a>
        </div>
    </nav>

    <header id="head">
        <a href="https://github.com/commonkestrel/" class="screenreader">Common Kestrel's Github</a>
        <div id="hex-wrapper" aria-hidden="true" tabindex="-1">
            <p id="hex">
                <a href="https://github.com/commonkestrel/" target="_blank" class="redlight" tabindex="-1">50 73 65 75 64 6F</a>
                <a href="https://github.com/commonkestrel/" target="_blank" class="bluelight" tabindex="-1">53 65 72 76 69 63 65 73</a>
            </p>
        </div>
        <div id="string-wrapper" aria-hidden="true" tabindex="-1">
            <p id="string">
                <a href="https://github.com/commonkestrel/" target="_blank" class="redlight" tabindex="-1">Pseudo</a>
                <a href="https://github.com/commonkestrel/" target="_blank" class="bluelight" tabindex="-1">Services</a>
            </p>
        </div>
    </header>
    <main>
        <section id="blogs">
            {% for blog in blogs %}
                <a href={{ blog.href }}>
                    <div class="card">
                        <div class="thumbnail">
                            <img src={{ blog.thumbnail }} alt={{ blog.title }}>
                        </div>
                        <div class="card-inner">
                            <h2 class="card-title">{{ blog.title }}</h2>
                            <hr class="card-seperator">
                            <p>{{ blog.description }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </section>
    </main>
    <script src="js/index.js"></script>
</body>
</html>